body {
  padding: 0;
  background: #d3eeff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 0 auto;
}
body.dark {
  background: #2f4467;
}
@media only screen and (min-width: 769px) {
  body {
    font-size: 16px;
  }
}
body .only-mobile {
  display: block;
}
@media screen and (min-width: 769px) {
  body .only-mobile {
    display: none;
  }
}
body .only-screen {
  display: none;
}
@media screen and (min-width: 769px) {
  body .only-screen {
    display: block;
  }
}
body .button, body .menu-button {
  background: #18A0FB;
  border-radius: 3px;
  border: 2px solid #18A0FB;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 4px;
  width: 180px;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 10px #ababab75;
}
body .button:hover, body .menu-button:hover {
  background-color: #4ab5fc;
  border-color: #4ab5fc;
}
body .button.button-invert, body .button-invert.menu-button {
  background: #EEF6FB;
  color: #18A0FB;
}
body.dark .button.button-invert, body.dark .button-invert.menu-button {
  background: #476699;
  color: #BEE6FF;
  border: 2px solid #BEE6FF;
}

body .button.button-invert:hover, body .button-invert.menu-button:hover {
  background-color: #18A0FB;
  border-color: #18A0FB;
  color: #fff;
}
@media screen and (min-width: 769px) {
  body .button, body .menu-button {
    min-width: 250px;
    padding: 8px;
  }
}
body .menu-button {
  width: 120px;
  text-transform: none;
  margin: 10px 0;
}
body img {
  max-width: 100%;
}
body .margin-0-auto {
  margin: 0 auto;
}
body .uppercase {
  text-transform: uppercase;
}
body .flex {
  display: flex;
}
body .text-align-left {
  text-align: left;
}
body .text-align-right {
  text-align: right;
}
body .base-line {
  width: 30px;
  height: 6px;
  background: #A8DDFF;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
}
body .base-title {
  color: #174696;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 30px;
}
body.dark .base-title {
  color: #BEE6FF;
}

body .wave {
  text-align: center;
  width: 100%;
  height: 60px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
body .wave.wave-1 {
  background-image: url("/img/Wave1MobileLight.svg");
}
body.dark .wave.wave-1 {
  background-image: url("/img/Wave1MobileDark.svg");
}

@media screen and (min-width: 769px) {
  body .wave.wave-1 {
    height: 120px;
    background-image: url("/img/Wave1ScreenLight.svg");
  }
  body.dark .wave.wave-1 {
    background-image: url("/img/Wave1ScreenDark.svg");
  }
}
@media only screen and (min-width: 1921px) {
  body .wave.wave-1 {
    height: 7vw;
  }
}
body .wave.wave-2 {
  background-image: url("/img/Wave2MobileLight.svg");
}
body.dark .wave.wave-2 {
  background-image: url("/img/Wave2MobileDark.svg");
}

@media screen and (min-width: 769px) {
  body .wave.wave-2 {
    height: 120px;
    background-image: url("/img/Wave2ScreenLight.svg");
  }
  body.dark .wave.wave-2 {
    background-image: url("/img/Wave2ScreenDark.svg");
  }
}
@media only screen and (min-width: 1921px) {
  body .wave.wave-2 {
    height: 7vw;
  }
}
body header {
  height: 40px;
  background-color: #fff;
}
body.dark header {
  background-color: #476699;
}

body header.fixed {
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  right: 0;
}
@media only screen and (min-width: 1201px) {
  body header {
    height: 60px;
  }
}
body header nav {
  max-width: 1920px;
  margin: 0 auto;
}
@media only screen and (min-width: 1201px) {
  body header nav {
    display: flex;
    position: relative;
  }
}
body header nav .logo .logo-light {
  display: initial;
}
body header nav .logo .logo-dark {
  display: none;
}
body.dark header nav .logo .logo-light {
  display: none;
}

body.dark header nav .logo .logo-dark {
  display: initial;
}

body header nav .logo img {
  padding: 6px;
  max-width: 120px;
}
@media only screen and (min-width: 1201px) {
  body header nav .logo img {
    padding: 18px 20px;
    max-width: 110px;
  }
}
@media only screen and (min-width: 1920px) {
  body header nav .logo img {
    padding: 6px 20px;
    max-width: 220px;
  }
}
body header nav .navbar-toggler {
  float: right;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  padding-top: 3px;
  background: none;
  outline: none;
}
@media only screen and (min-width: 1201px) {
  body header nav .navbar-toggler {
    display: none;
  }
}
body header nav .navbar-toggler span.line {
  width: 28px;
  height: 4px;
  background-color: #18A0FB;
  display: block;
  margin-bottom: 4px;
  border-radius: 5px;
}
body header nav .navbar-toggler:hover {
  cursor: pointer;
  background: #18A0FB;
}
body header nav .navbar-toggler:hover span.line {
  background-color: #FFFFFF;
}
body header nav .nav-bar {
  display: none;
  background: #EEF6FB;
  border: 1px solid #9FC6DF;
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 45px;
  padding: 15px;
  z-index: 99;
}
body header nav .nav-bar .authBtns {
  order: 3;
}
@media only screen and (min-width: 1201px) {
  body header nav .nav-bar {
    display: flex;
    right: 0;
    top: 0;
    padding: 0;
    background: none;
    border: 0;
  }
}
body header nav .nav-bar.show {
  display: block;
}
@media only screen and (min-width: 1201px) {
  body header nav .nav-bar .lang {
    order: 2;
    margin: 20px;
  }
}
body header nav .nav-bar .lang a {
  text-decoration: none;
  color: #18A0FB;
}
body header nav .nav-bar .lang a.active {
  color: #979797;
}
body header nav .nav-bar .lang a:hover {
  color: #174696;
  text-decoration: underline;
}
body.dark header nav .nav-bar .lang a:hover {
  color: #BEE6FF;
}

body header nav .nav-bar .lang .separator {
  width: 2px;
  height: 20px;
  background: #dcdcdc;
  display: inline-block;
  margin: -4px 2px;
}
body header nav .nav-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 24px 0;
}
@media only screen and (min-width: 1201px) {
  body header nav .nav-bar ul {
    order: 1;
    display: flex;
    margin: 20px 10px;
  }
}
body header nav .nav-bar ul li {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1201px) {
  body header nav .nav-bar ul li {
    margin: 0 10px;
  }
}
body header nav .nav-bar ul li a {
  text-decoration: none;
  color: #18A0FB;
}
body.dark header nav .nav-bar ul li a {
  color: #BEE6FF;
}

body header nav .nav-bar ul li a:hover {
  color: #174696;
  text-decoration: underline;
}
body.dark header nav .nav-bar ul li a:hover {
  color: #BEE6FF;
}

body header nav .nav-bar .display-mode {
  display: flex;
}
body header nav .nav-bar .display-mode .switch-container {
  display: none;
  margin-left: 5px;
  margin-top: 1px;
  /* Rounded sliders */
}
@media only screen and (min-width: 1201px) {
  body header nav .nav-bar .display-mode .switch-container {
    display: block;
  }
}
body header nav .nav-bar .display-mode .switch-container .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
body header nav .nav-bar .display-mode .switch-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
body header nav .nav-bar .display-mode .switch-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #DADEE3;
  transition: 0.4s;
}
body header nav .nav-bar .display-mode .switch-container .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #8591A6;
  transition: 0.4s;
  background-image: url("/img/moon.png");
  background-size: cover;
}
body header nav .nav-bar .display-mode .switch-container input:checked + .slider {
  background-color: #CFE5FF;
}
body header nav .nav-bar .display-mode .switch-container input:focus + .slider {
  box-shadow: 0 0 1px #CFE5FF;
}
body header nav .nav-bar .display-mode .switch-container input:checked + .slider:before {
  background-color: #597BB4;
  background-image: url("/img/sun.png");
  background-size: cover;
}
body header nav .nav-bar .display-mode .switch-container input:checked + .slider:before {
  transform: translateX(13px);
}
body header nav .nav-bar .display-mode .switch-container .slider.round {
  border-radius: 17px;
}
body header nav .nav-bar .display-mode .switch-container .slider.round:before {
  border-radius: 50%;
}
@media only screen and (min-width: 1201px) {
  body header nav .nav-bar .menu-button {
    line-height: 1.5;
    order: 3;
    min-width: 140px;
    height: 24px;
    margin: 10px;
    box-shadow: none;
    padding: 4px;
  }
  body header nav .nav-bar .menu-button.login {
    margin-left: 20px;
  }
  body header nav .nav-bar .menu-button.sign-up {
    margin-right: 20px;
  }
}
body main section .section-content {
  position: relative;
  padding-bottom: 50px;
  max-width: 375px;
  margin: 0 auto;
}
@media only screen and (min-width: 769px) {
  body main section .section-content {
    max-width: 769px;
  }
}
body main section.top {
  position: relative;
  padding-bottom: 10px;
  margin: 0 auto;
}
@media only screen and (min-width: 769px) {
  body main section.top {
    padding-bottom: 130px;
    margin-bottom: -100px;
  }
}
@media only screen and (min-width: 1920px) {
  body main section.top {
    padding-bottom: 270px;
    margin-bottom: -200px;
  }
}
body main .top {
  color: #174696;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 83.91%), #BEE6FF;
  overflow: hidden;
  padding-bottom: 4vw;
  margin-bottom: -4vw;
}
body.dark main .top {
  background: linear-gradient(180deg, #5576AE 0%, #344B71 83.91%), #BEE6FF;
}

body.dark main .top {
  color: #BEE6FF;
}

@media screen and (min-width: 769px) {
  body main .top {
    padding-bottom: 14vw;
    margin-bottom: -14vw;
  }
}
body main .top .flex {
  max-width: 1920px;
  margin: 0 auto;
  padding: 15px;
  z-index: 2;
  position: relative;
  min-height: 200px;
  padding-bottom: 0;
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) and (max-width: 320px) {
  body main .top .flex {
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 769px) {
  body main .top .flex {
    flex-wrap: initial;
    padding: 0 50px;
  }
}
body main .top .flex .left {
  text-align: center;
  flex-grow: 1;
  position: relative;
  width: 100%;
  order: 2;
  background: #d3eeff;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -10px;
  padding-bottom: 30px;
}
body.dark main .top .flex .left {
  background: #2f4467;
}

@media screen and (min-width: 769px) {
  body main .top .flex .left {
    width: auto;
    order: 1;
    padding-top: 50px;
    background: transparent;
    margin-left: initial;
    margin-right: initial;
    margin-bottom: initial;
    padding-bottom: initial;
  }
  body.dark main .top .flex .left {
    background: transparent;
  }
}
body main .top .flex .left p {
  min-height: 45px;
  max-width: 260px;
  margin: 0 auto;
  padding: 20px 0;
}
@media screen and (min-width: 769px) {
  body main .top .flex .left p {
    max-width: 400px;
    padding: 20px;
  }
}
@media screen and (min-width: 1201px) {
  body main .top .flex .left p {
    font-size: 30px;
    max-width: 620px;
  }
}
body main .top .flex .left .title {
  font-weight: 600;
  font-size: 12px;
}
@media screen and (min-width: 769px) {
  body main .top .flex .left .title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1201px) {
  body main .top .flex .left .title {
    font-size: 40px;
  }
}
body main .top .flex .left .globe-and-book {
  position: absolute;
  bottom: -60px;
  z-index: 2;
  width: 30vw;
  height: 30vw;
  max-width: 400px;
  max-height: 400px;
  background-image: url("/img/GlobeAndBook1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 320px) {
  body main .top .flex .left .globe-and-book {
    bottom: -25px;
  }
}
@media only screen and (min-width: 769px) {
  body main .top .flex .left .globe-and-book {
    display: block;
    background-image: url("/img/GlobeAndBook2.png");
    bottom: -160px;
    width: 270px;
  }
}
@media screen and (min-width: 1201px) {
  body main .top .flex .left .globe-and-book {
    bottom: -180px;
    width: 30vw;
  }
}
body main .top .flex .right {
  width: 100%;
  order: 1;
  text-align: center;
}
body main .top .flex .right .girl-light {
  display: initial;
}
body main .top .flex .right .girl-dark {
  display: none;
}
body.dark main .top .flex .right .girl-light {
  display: none;
}

body.dark main .top .flex .right .girl-dark {
  display: initial;
}

@media screen and (min-width: 769px) {
  body main .top .flex .right {
    width: auto;
    order: 2;
    margin-left: 10px;
  }
}
body main .top .flex .right img {
  width: 100%;
  max-width: 320px;
  min-width: 113px;
}
@media screen and (min-width: 769px) {
  body main .top .flex .right img {
    margin-top: 20px;
    margin-bottom: -20px;
    width: 320px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1201px) {
  body main .top .flex .right img {
    width: 440px;
  }
}
body main .top .bottom-img {
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 156px;
  background-image: url("/img/TopLineMobileLight.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
body.dark main .top .bottom-img {
  background-image: url("/img/TopLineMobileDark.svg");
}

@media screen and (min-width: 769px) {
  body main .top .bottom-img {
    bottom: 0;
    background-image: url("/img/TopLineScreenLight.svg");
    height: 370px;
  }
  body.dark main .top .bottom-img {
    background-image: url("/img/TopLineScreenDark.svg");
  }
}
@media only screen and (min-width: 1921px) {
  body main .top .bottom-img {
    background-size: cover;
  }
}
body main .choose-a-language .container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}
body main .choose-a-language .container .lang {
  display: none;
  flex: 1 0 21%;
  cursor: pointer;
}
body main .choose-a-language .container .lang:hover {
  opacity: 0.8;
}
body main .choose-a-language .container .lang.show-mobile {
  display: block;
}
@media screen and (min-width: 769px) {
  body main .choose-a-language .container .lang {
    flex: 1 0 15%;
  }
  body main .choose-a-language .container .lang.show-desktop {
    display: block;
  }
}
body main .choose-a-language .container .lang .flag {
  max-width: 80px;
  margin: 0 auto;
}
body main .choose-a-language .container .lang .title {
  text-align: center;
  color: #174696;
  margin-top: -8px;
}
body.dark main .choose-a-language .container .lang .title {
  color: #BEE6FF;
}

body main .choose-a-language .container.show .lang {
  display: block;
}
body main .choose-a-language .container.show + .lang-button-container .close {
  display: block;
}
body main .choose-a-language .container.show + .lang-button-container .open {
  display: none;
}
body main .choose-a-language .lang-button-container {
  color: #18A0FB;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
body main .choose-a-language .lang-button-container > div {
  position: relative;
  cursor: pointer;
  max-width: 150px;
  margin: 0 auto;
}
body main .choose-a-language .lang-button-container .open .down-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #18A0FB;
  position: absolute;
  top: 50%;
  margin-left: 3px;
  transform: translateY(-50%);
}
body main .choose-a-language .lang-button-container .close {
  display: none;
}
body main .choose-a-language .lang-button-container .close .up-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #18A0FB;
  position: absolute;
  top: 50%;
  margin-left: 3px;
  transform: translateY(-50%);
}
body main .choose-a-language .lang-button-container:hover {
  color: #4ab5fc;
}
body main .choose-a-language .lang-button-container:hover .open .down-arrow {
  border-top: 5px solid #4ab5fc;
}
body main .choose-a-language .lang-button-container:hover .close .up-arrow {
  border-bottom: 5px solid #4ab5fc;
}
body main .language-learning {
  background: #c5e9ff;
  background: linear-gradient(0deg, #c5e9ff 0%, #d3eeff 100%);
}
body.dark main .language-learning {
  background: linear-gradient(0deg, #6288c8 0%, #2f4467 100%);
}

body main .language-learning .container {
  max-width: 270px;
  margin: 0 auto;
}
@media screen and (min-width: 769px) {
  body main .language-learning .container {
    display: flex;
    max-width: 769px;
  }
}
body main .language-learning .container .line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 769px) {
  body main .language-learning .container .line {
    display: block;
    flex: 1;
  }
}
body main .language-learning .container .line .icon {
  max-width: 80px;
  margin-right: 20px;
  position: relative;
}
@media screen and (min-width: 769px) {
  body main .language-learning .container .line .icon {
    max-width: 140px;
    margin: 0 auto;
  }
}
body main .language-learning .container .line .icon img {
  position: relative;
  z-index: 2;
}
body main .language-learning .container .line .title {
  flex: 1;
  text-align: left;
  color: #174696;
  font-weight: 600;
}
body.dark main .language-learning .container .line .title {
  color: #BEE6FF;
}

@media screen and (min-width: 769px) {
  body main .language-learning .container .line .title {
    text-align: center;
  }
}
body main .language-learning .button-container {
  text-align: center;
  color: #174696;
  margin: 0 15px;
}
body.dark main .language-learning .button-container {
  color: #BEE6FF;
}

@media screen and (min-width: 769px) {
  body main .language-learning .button-container {
    max-width: 500px;
    margin: 0 auto;
  }
  body main .language-learning .button-container p {
    margin-bottom: 40px;
  }
}
body main .next-level {
  background: #c5e9ff;
  background: linear-gradient(0deg, #c5e9ff 0%, #d3eeff 100%);
}
body.dark main .next-level {
  background: linear-gradient(0deg, #6288c8 0%, #2f4467 100%);
}

body main .next-level .container {
  max-width: 270px;
  margin: 0 auto;
}
@media screen and (min-width: 769px) {
  body main .next-level .container {
    max-width: 769px;
  }
}
body main .next-level .container .line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
body main .next-level .container .line .icon {
  max-width: 80px;
  margin: 0 20px;
}
@media screen and (min-width: 769px) {
  body main .next-level .container .line .icon {
    max-width: 100%;
    width: 350px;
    margin: 0 auto;
    text-align: center;
  }
}
body main .next-level .container .line .title {
  flex: 1;
  color: #174696;
  font-weight: 600;
}
body.dark main .next-level .container .line .title {
  color: #BEE6FF;
}

body main .next-level .container .line p {
  color: #174696;
}
body.dark main .next-level .container .line p {
  color: #BEE6FF;
}

body main .next-level .button-container {
  text-align: center;
  color: #174696;
  margin: 0 15px;
}
body.dark main .next-level .button-container {
  color: #BEE6FF;
}

@media screen and (min-width: 769px) {
  body main .next-level .button-container {
    margin: 40px 15px;
  }
}
body main .teach-with-us {
  background: #d3eeff;
  background-image: url("/img/TeachWithUsBgLight.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
body.dark main .teach-with-us {
  background: #2f4467;
  background-image: url("/img/TeachWithUsBgDark.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

body main .teach-with-us .container {
  max-width: 270px;
  margin: 0 auto;
}
@media screen and (min-width: 769px) {
  body main .teach-with-us .container {
    max-width: 769px;
  }
}
body main .teach-with-us .container .line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
body main .teach-with-us .container .line .icon {
  max-width: 80px;
  margin-right: 12px;
}
@media screen and (min-width: 769px) {
  body main .teach-with-us .container .line .icon {
    max-width: 100%;
    width: 350px;
    margin: 0 auto;
    text-align: center;
  }
  body main .teach-with-us .container .line .icon img {
    max-width: 180px;
  }
}
body main .teach-with-us .container .line .title {
  flex: 1;
  color: #174696;
  font-weight: 600;
}
body.dark main .teach-with-us .container .line .title {
  color: #BEE6FF;
}

body main .teach-with-us .container .line p {
  color: #174696;
}
body.dark main .teach-with-us .container .line p {
  color: #BEE6FF;
}

body main .teach-with-us .button-container {
  text-align: center;
  color: #174696;
  margin: 0 15px;
}
body.dark main .teach-with-us .button-container {
  color: #BEE6FF;
}

@media screen and (min-width: 769px) {
  body main .teach-with-us .button-container {
    margin: 40px 15px;
  }
}
body main .join-us {
  position: relative;
}
body main .join-us .svg.svg-light {
  display: block;
}
body main .join-us .svg.svg-dark {
  display: none;
}
body.dark main .join-us .svg.svg-light {
  display: none;
}

body.dark main .join-us .svg.svg-dark {
  display: block;
}

body main .join-us .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
body main .join-us .svg svg {
  width: 100%;
  height: 100%;
}
body main .join-us .section-content {
  padding: 50px 0 100px 0;
}
@media screen and (min-width: 769px) {
  body main .join-us .section-content {
    padding: 100px 0 150px 0;
  }
}
body main .join-us .container {
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 25px;
}
@media screen and (min-width: 769px) {
  body main .join-us .container {
    max-width: 769px;
    margin: 50px;
  }
}
body main .join-us .container .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
body main .join-us .container .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
