@import 'fonts/Montserrat/fonts.css';
@import 'partials/variables';

@import 'components/btn';
@import 'components/checkbox';
@import 'components/date';
@import 'components/input';
@import 'components/popup';
@import 'components/select';
@import 'components/slider';
@import 'components/tag';
@import 'components/textarea';
@import 'components/thread';
@import 'components/threads';

@import 'partials/full_calendar';

@import 'components/auth';

@import 'components/p_site-header';
@import 'components/p_site-footer';
@import 'components/p_cookie';

@import 'components/l_app-layout';

@import 'components/p_checkout';
@import 'components/p_cancel-lesson';
@import 'components/p_change-password';
@import 'components/p_delete-profile';
@import 'components/p_find-teacher-day';
@import 'components/p_find-teacher-language';
@import 'components/p_find-teacher-order';
@import 'components/p_find-teacher-price';
@import 'components/p_lesson-not-ready';

@import 'components/p_student-settings';
@import 'components/p_teacher-hub';
@import 'components/p_teacher-settings';
@import 'components/p_teacher-view';
@import 'components/p_teacher-list';
@import 'components/p_teacher_application';

@import 'components/w_booked-event';
@import 'components/w_teacher';
@import 'components/w_wallet';
@import 'components/w_profile-popup';
@import 'components/w_bought-event';
@import 'components/w_find-teacher';

@import 'components/tooltip';

@import 'partials/responsive';

body {
	background: #DEEEF8 !important;
	color: $blue-dark;
	font-family: 'Montserrat', sans-serif;
	width: 100vw;
	overflow-x: hidden;

	.pageBg {
		min-height: 100vh;
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;

		.top {
			width: 100%;
			height: 60vh;
			background: linear-gradient(360deg, #C7E6F9 0%, #FFFFFF 100%);
		}

		.bottom {
			width: 100%;
			height: 40vh;
			background: #C8E7FA;
		}

		&:before {
			content: "";
			height: 14vw;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #DEEEF8;
			z-index: 2;
		}
		&:after {
			content: "";
			height: 14vw;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 4;
			background: url('/img/landing_wave_bottom.svg') -17px top/cover;
		}
	}
}

.fc .fc-col-header-cell-cushion {
	white-space: break-spaces;
}

body .fc-theme-standard td {
	border: 6px solid white !important;
}

body .fc .fc-cell-shaded, body .fc .fc-day-disabled {
	background: #F1F5FA;
}

body  .fc td.fc-timegrid-col.fc-day.fc-day-future {
	background: #E4F3FE;
}

.fc-theme-standard td, .fc-theme-standard th {
	border: none !important;
}

body .fc .fc-scroller-harness {
	overflow: initial;
}

body .fc-theme-standard th {
	position: relative;
}

th.fc-col-header-cell.fc-day.fc-day-fri.fc-day-today:after {
	content: "";
	position: absolute;
	top: -12px;
	left: calc(50% - 4px);
	width: 6px;
	height: 6px;
	background: #18a0fb;
	border-radius: 50%;
}

body .fc-media-screen .fc-timegrid-event {
	top: 1px !important;
	bottom: 3px !important;
	left: -1px !important;
	right: -2px !important;
}

body .fc-media-screen .fc-timegrid-event:hover {
	top: -1px !important;
	bottom: 3px !important;
	left: -2px !important;
	right: -3px !important;
	box-shadow: 0 2px 6px rgb(0 0 0 / 30%);
}

.fc .fc-toolbar-title {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}

body .fc .fc-button:disabled {
	opacity: 0.15;
}

th.fc-col-header-cell.fc-day.fc-day-disabled {
	background: white;
}

.color-green {
	color: $green-light;
}

.color-green-dark {
	color: $green-dark;
}

.color-orange {
	color: $orange;
}

.color-gray {
	color: $gray;
}

.color-primary {
	color: $blue;
}

.color-primary-dark {
	color: $blue-dark;
}

.siteContent {
	margin-top: 80px;
	min-height: 68vh;
}

.teacherHubContainer, .studentHubContainer {
	.profileImg, .profileImageWrapper {
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
		}
	}

	.mainProfileImg {
		img {
			width: 120px;
			height: 120px;
			object-fit: cover;
		}
	}
}

.fc-v-event .fc-event-title {
	padding: 4px 8px;
}

.hr {
	position: relative;
	text-align: center;
	margin: 20px 0;
	opacity: 0.4;

	&:after, &:before {
		content: "";
		position: absolute;
		top: 50%;
		width: 40%;
		border-bottom: 1px solid gray;
	}

	&:after {
		right: 0;
	}
	&:before {
		left: 0;
	}
}

.alert {
	max-width: 600px;

	.icon {
		font-size: 42px;
	}
}

.flagWide {
	width: 1.2em !important;
	background-size: cover !important;
}