@import 'fonts/Montserrat/fonts.css';
@import 'partials/variables';

@import 'components/btn';
@import 'components/checkbox';
@import 'components/date';
@import 'components/input';
@import 'components/popup';
@import 'components/select';
@import 'components/slider';
@import 'components/tag';
@import 'components/textarea';
@import 'components/thread';
@import 'components/threads';

@import 'partials/full_calendar';

@import 'components/auth';

@import 'components/p_site-header';
@import 'components/p_site-footer';

@import 'components/l_app-layout';

@import 'components/p_checkout';
@import 'components/p_cancel-lesson';
@import 'components/p_change-password';
@import 'components/p_delete-profile';
@import 'components/p_find-teacher-day';
@import 'components/p_find-teacher-language';
@import 'components/p_find-teacher-order';
@import 'components/p_find-teacher-price';
@import 'components/p_lesson-not-ready';

@import 'components/p_student-settings';
@import 'components/p_teacher-hub';
@import 'components/p_teacher-settings';
@import 'components/p_teacher-view';
@import 'components/p_teacher-list';
@import 'components/p_teacher_application';

@import 'components/w_booked-event';
@import 'components/w_teacher';
@import 'components/w_wallet';
@import 'components/w_profile-popup';
@import 'components/w_bought-event';
@import 'components/w_find-teacher';



body {
	color: $blue-dark;
	font-family: 'Montserrat', sans-serif;
}

.color-green {
	color: $green-light;
}

.color-green-dark {
	color: $green-dark;
}

.color-orange {
	color: $orange;
}

.color-gray {
	color: $gray;
}

.color-primary {
	color: $blue;
}

.color-primary-dark {
	color: $blue-dark;
}

.siteContent {
	margin-top: 80px;
}

.studentHubContainer {
	img {
		max-width: 100px;
	}
}

.teacherHubContainer {
	.profileImg img, .profileImageWrapper img {
		width: 100px;
		height: 100px;
		object-fit: cover;
	}
}

.hr {
  position: relative;
  text-align: center;
  margin: 20px 0;
  opacity: .6;

  &:after, &:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    border-bottom: 1px solid gray;
  }

  &:after {
    right: 0;
  }
  &:before {
    left: 0;
  }
}