$break-min: 320px;
$break-point1: 769px;
$break-point2: 1201px;
$break-fullhd: 1920px;
$break-biggerthanfullhd: 1921px;
$baseColor1: #18A0FB;
$baseHoverBgColor1: #4ab5fc;
$baseHoverBgColor2: #18A0FB;
$textColor1: #174696;
$textColorDark1: #BEE6FF;

body {
	&.dark {
		background: #2f4467;
	}
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin: 0 auto;
	@media only screen and (min-width: $break-point1) {
		font-size: 16px;
	}
	.only-mobile {
		display: block;
		@media screen and (min-width: $break-point1) {
			display: none;
		}
	}
	.only-screen {
		display: none;
		@media screen and (min-width: $break-point1) {
			display: block;
		}
	}
	.button {
		background: $baseColor1;
		border-radius: 3px;
		border: 2px solid $baseColor1;
		color: #FFFFFF;
		text-decoration: none;
		display: block;
		padding: 4px;
		width: 180px;
		margin: 0 auto;
		text-align: center;
		font-size: 1em;
		outline: none;
		text-transform: uppercase;
		cursor: pointer;
		box-shadow: 0 0 10px #ababab75;
		&:hover {
			background-color: $baseHoverBgColor1;
			border-color: $baseHoverBgColor1;
		}
		&.button-invert {
			background: #EEF6FB;
			color: $baseColor1;
			@at-root {
				body.dark .button.button-invert {
					background: #476699;
					color: #BEE6FF;
					border: 2px solid #BEE6FF;
				}
			}
		}
		&.button-invert:hover {
			background-color: $baseHoverBgColor2;
			border-color: $baseHoverBgColor2;
			color: #fff;
		}
		@media screen and (min-width: $break-point1) {
			min-width: 250px;
			padding: 8px;
		}
	}
	.menu-button {
		@extend .button;
		width: 120px;
		text-transform: none;
		margin: 10px 0;
	}
	img {
		max-width: 100%;
	}
	.margin-0-auto {
		margin: 0 auto;
	}
	.uppercase {
		text-transform: uppercase;
	}
	.flex {
		display: flex;
	}
	.text-align-left {
		text-align: left;
	}
	.text-align-right {
		text-align: right;
	}
	.base-line {
		width: 80px;
		height: 15px;
		background: #99D1F3;
		border-radius: 30px;
		margin: 0 auto;
		margin-bottom: 20px;
		opacity: .4;
	}
	.base-title {
		color: $textColor1;
		@at-root {
			body.dark .base-title {
				color: $textColorDark1;
			}
		}
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		font-size: 1.4rem;
		margin-bottom: 30px;
	}


	header {
		z-index: 30;
		height: 60px;
		background-color: #fff;
		@at-root {
			body.dark header {
				background-color: #476699;
			}
		}
		&.fixed {
			position: fixed;
			z-index: 30;
			left: 0;
			top: 0;
			right: 0;
		}
		@media only screen and (min-width: $break-point2) {
			height: 60px;
		}

		.navbar-toggler {
			float: right;
			width: 60px;
			height: 60px;
			position: absolute;
			right: 10px;
			top: 0;
			border: none;
			background: none;
			outline: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-right: -10px;
			@media only screen and (min-width: $break-point2) {
				display: none;
			}
			span.line {
				width: 28px;
				height: 4px;
				background-color: $baseColor1;
				display: block;
				margin-bottom: 4px;
				border-radius: 5px;
				transition: all .25s;
			}

			&.opened {
				.line {
					&:nth-child(1) {
						transform: rotate(45deg) translate(7px, 7px);
					}
					&:nth-child(2) {
						transform: scale(0);
					}
					&:nth-child(3) {
						transform: rotate(-45deg) translate(4px, -4px);
					}
				}
			}
		}

		nav {
			height: 60px;
			max-width: 1200px;
			margin: 0 auto;
			@media only screen and (min-width: $break-point2) {
				display: flex;
				align-items: center;
				position: relative;
			}
			.logo {
				& .logo-light {
					display: initial;
				}
				& .logo-dark {
					display: none;
				}
				@at-root {
					body.dark header nav .logo .logo-light {
						display: none;
					}
					body.dark header nav .logo .logo-dark {
						display: initial;
					}
				}
				img {
					padding: 6px;
					height: 38px;
				}
			}

			.nav-bar {
				background: #EEF6FB;
				box-sizing: border-box;
				border-radius: 5px;
				position: absolute;
				z-index: 30;
				opacity: 0;
				pointer-events: none;
				transition: all .25s;
				display: flex;
				right: 0;
				top: 0;
				padding: 0;
				background: none;
				border: 0;

				.authBtns {
					order: 3;
				}

				&.opened {
					top: 65px;
					right: 10px;
					opacity: 1;
					pointer-events: initial;
				}
				.lang {
					@media only screen and (min-width: $break-point2) {
						order: 2;
						margin: 20px;
					}
					.separator {
						width: 2px;
						height: 20px;
						background: #dcdcdc;
						display: inline-block;
					}
				}
				ul {
					list-style-type: none;
					padding: 0;

					@media only screen and (min-width: $break-point2) {
						order: 1;
						display: flex;
					}
					li {

						a {

							@at-root {
								body.dark header nav .nav-bar ul li a {
									color: #BEE6FF;
								}
							}
						}
					}
				}
				.display-mode {
					display: flex;
					.switch-container {
						display: none;
						@media only screen and (min-width: $break-point2) {
							display: block;
						}
						margin-left: 5px;
						margin-top: 1px;
						.switch {
							position: relative;
							display: inline-block;
							width: 30px;
							height: 17px;
						}
						.switch input {
							opacity: 0;
							width: 0;
							height: 0;
						}
						.slider {
							position: absolute;
							cursor: pointer;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background-color: #DADEE3;
							-webkit-transition: .4s;
							transition: .4s;
						}
						.slider:before {
							position: absolute;
							content: "";
							height: 13px;
							width: 13px;
							left: 2px;
							bottom: 2px;
							background-color: #8591A6;
							-webkit-transition: .4s;
							transition: .4s;
							background-image: url('/img/moon.png');
							background-size: cover;
						}
						input:checked+.slider {
							background-color: #CFE5FF;
						}
						input:focus+.slider {
							box-shadow: 0 0 1px #CFE5FF;
						}
						input:checked+.slider:before {
							background-color: #597BB4;
							background-image: url('/img/sun.png');
							background-size: cover;
						}
						input:checked+.slider:before {
							-webkit-transform: translateX(13px);
							-ms-transform: translateX(13px);
							transform: translateX(13px);
						}
						/* Rounded sliders */
						.slider.round {
							border-radius: 17px;
						}
						.slider.round:before {
							border-radius: 50%;
						}
					}
				}
				@media only screen and (min-width: $break-point2) {
					.menu-button {
						line-height: 1.5;
						order: 3;
						min-width: 140px;
						height: 24px;
						margin: 10px;
						box-shadow: none;
						padding: 4px;
						&.login {
							margin-left: 20px;
						}
						&.sign-up {
							margin-right: 20px;
						}
					}
				}
			}
		}
	}
	main {
		section {
			.section-content {
				position: relative;
				padding: 10vh 0;
				max-width: 375px;
				margin: 0 auto;
				@media only screen and (min-width: $break-point1) {
					max-width: $break-point1;
				}
			}
			&.top {
				position: relative;
				margin: 0 auto;
			}
		}

		.hero {
			min-height: calc(100vh - 60px);
			background: linear-gradient(360deg, #C7E6F9 0%, #FFFFFF 100%);

			.base-line {
				background: #BEE6FF;
			}

			.section-content {
				padding: 0 0;
			}
		}

		.top {
			color: $textColor1;
			overflow: hidden;
			@at-root {
				body.dark main .top {
					color: $textColorDark1;
				}
			}
			.flex {
				max-width: $break-fullhd;
				margin: 0 auto;
				padding: 15px;
				z-index: 2;
				position: relative;
				min-height: 200px;
				padding-bottom: 0;
				flex-wrap: wrap;
				justify-content: center;
				@media screen and (min-width: $break-min) and (max-width: $break-min) {
					padding-bottom: 15px;
				}
				@media screen and (min-width: $break-point1) {
					flex-wrap: initial;
					padding: 0 50px;
				}
				.left {
					text-align: center;
					position: relative;

					@media screen and (min-width: $break-point1) {
						width: auto;
						order: 1;
						background: transparent;
						margin-left: initial;
						margin-right: initial;
						margin-bottom: initial;
						padding-bottom: initial;
					}
					p {
						max-width: 260px;
						margin: 0 auto;
						padding: 20px 0;
						@media screen and (min-width: $break-point1) {
							max-width: 400px;
							padding: 20px;
						}
						@media screen and (min-width: $break-point2) {
							//font-size: 24px;
							//max-width: 500px;
							font-size: 30px;
							max-width: 620px;
						}
					}
					.title {
						font-weight: bold;
						font-size: 12px;
						@media screen and (min-width: $break-point1) {
							font-size: 20px;
						}
						@media screen and (min-width: $break-point2) {
							// font-size: 28px;
							font-size: 40px;
						}
					}
				}
				.right {
					position: relative;
					& .girl-light {
						display: initial;
					}
					& .girl-dark {
						display: none;
					}
					@at-root {
						body.dark main .top .flex .right .girl-light {
							display: none;
						}
						body.dark main .top .flex .right .girl-dark {
							display: initial;
						}
					}
					@media screen and (min-width: $break-point1) {
						width: auto;
						order: 2;
						margin-left: 10px;
					}
					.landingGirl {
						width: auto;
						height: 60vh;
					}

					.landingTree {
						position: absolute;
						bottom: 60px;
						right: -30px;
					}
				}
			}
		}
		.choose-a-language {
			margin-top: -40px;
			.container {
				display: flex;
				flex-wrap: wrap;

				.lang {
					display: none;
					flex: 1 0 21%;
					cursor: pointer;
					transition: all .25s ease-in-out;
					opacity: .9;
					&.show-mobile {
						display: block;
					}
					@media screen and (min-width: $break-point1) {
						flex: 1 0 15%;
						&.show-desktop {
							display: block;
						}
					}
					.flagImg {
						transition: all .25s ease-in-out;
						margin-bottom: 16px;
						box-shadow: 0 2px 30px -2px rgba(black, .3);
					}
					.title {
						text-align: center;
						color: $textColor1;
						margin-top: -8px;
						@at-root {
							body.dark main .choose-a-language .container .lang .title {
								color: $textColorDark1;
							}
						}
					}

					&:hover {
						opacity: 1;

						.flagImg {
							transform: translate(0, -6px);
							box-shadow: 0 4px 34px -4px rgba(black, .3);
						}
					}
				}
				&.show .lang {
					display: block;
				}
				&.show {
					&+.lang-button-container .close {
						display: block;
					}
					&+.lang-button-container .open {
						display: none;
					}
				}
			}
			.lang-button-container {
				color: $baseColor1;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				.open {
					.down-arrow {
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 5px solid $baseColor1;
						position: absolute;
						top: 50%;
						margin-left: 3px;
						transform: translateY(-50%);
					}
				}
				.close {
					display: none;
					.up-arrow {
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 5px solid $baseColor1;
						position: absolute;
						top: 50%;
						margin-left: 3px;
						transform: translateY(-50%);
					}
				}
				&:hover {
					color: $baseHoverBgColor1;
					.open .down-arrow {
						border-top: 5px solid $baseHoverBgColor1;
					}
					.close .up-arrow {
						border-bottom: 5px solid $baseHoverBgColor1
					}
				}
			}
		}
		.language-learning {
			background: #C8E7FA;
			position: relative;

			&:before {
				content: "";
				height: 14vw;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background: #DEEEF8;
				z-index: 2;
			}

			&:after {
				content: "";
				height: 14vw;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 4;

				background: url('/img/landing_wave_bottom.svg') -17px top / cover;
			}

			.section-content {
				position: relative;
				z-index: 15;
			}

			.container {
				max-width: 270px;
				margin: 0 auto;
				@media screen and (min-width: $break-point1) {
					max-width: $break-point1;
				}
				.line {
					padding-right: 20px;
					align-items: center;
					margin-bottom: 10px;
					flex-direction: column;
					@media screen and (min-width: $break-point1) {
						flex: 1;
					}
					.icon {
						max-width: 200px;
						position: relative;
						@media screen and (min-width: $break-point1) {
							max-width: 220px;
							margin: 0 auto;
						}
						img {
							position: relative;
							z-index: 2;
						}
					}
					.title {
						flex: 1;
						color: $textColor1;
						font-weight: bold;
						text-align: center;

						@at-root {
							body.dark main .language-learning .container .line .title {
								color: $textColorDark1;
							}
						}
					}
				}
			}
			.button-container {
				text-align: center;
				color: $textColor1;
				@at-root {
					body.dark main .language-learning .button-container {
						color: $textColorDark1;
					}
				}
				margin: 0 15px;
				@media screen and (min-width: $break-point1) {
					max-width: 500px;
					margin: 0 auto;
					& p {
						margin-bottom: 40px;
					}
				}
			}
		}
		.next-level {
			background: linear-gradient(0deg, #DEEEF8 0%, #DEEEF8 100%);
			@at-root {
				body.dark main .next-level {
					background: linear-gradient( 0deg, #6288c8 0%, #2f4467 100%);
				}
			}
			.container {
				margin: 0 auto;
				.line {
					display: flex;
					align-items: center;
					margin-bottom: 20px;
					.icon {
						width: 100%;
						margin: 0 20px;
						@media screen and (min-width: $break-point1) {
							max-width: 100%;
							width: 350px;
							margin: 0 auto;
							text-align: center;
						}
					}
					.title {
						flex: 1;
						color: $textColor1;
						@at-root {
							body.dark main .next-level .container .line .title {
								color: $textColorDark1;
							}
						}
						font-weight: bold;
					}
					p {
						color: $textColor1;
						@at-root {
							body.dark main .next-level .container .line p {
								color: $textColorDark1;
							}
						}
					}
				}
			}
			.button-container {
				text-align: center;
				color: $textColor1;
				@at-root {
					body.dark main .next-level .button-container {
						color: $textColorDark1;
					}
				}
				margin: 0 15px;
				@media screen and (min-width: $break-point1) {
					margin: 40px 15px;
				}
			}
		}
		.teach-with-us {
			background: #F0F9FF;
			position: relative;

			&:before {
				content: "";
				height: 14vw;
				position: absolute;
				top: -1px;
				left: 0;
				right: 0;
				background: #DEEEF8;
				z-index: 2;
			}

			&:after {
				content: "";
				height: 14vw;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: 4;
				background: url('/img/landing_wave_white_top.svg') -17px top / cover;
			}

			.section-content {
				z-index: 10;
			}

			@at-root {
				body.dark main .teach-with-us {
					background: #2f4467;
				}
			}
			.container {
				max-width: 270px;
				margin: 0 auto;
				@media screen and (min-width: $break-point1) {
					max-width: $break-point1;
				}
				.line {
					display: flex;
					align-items: center;
					margin-bottom: 20px;
					.icon {
						max-width: 80px;
						margin-right: 12px;
						@media screen and (min-width: $break-point1) {
							max-width: 100%;
							width: 350px;
							margin: 0 auto;
							text-align: center;
							img {
								max-width: 220px;
							}
						}
					}
					.title {
						flex: 1;
						color: $textColor1;
						@at-root {
							body.dark main .teach-with-us .container .line .title {
								color: $textColorDark1;
							}
						}
						font-weight: bold;
					}
					p {
						color: $textColor1;
						@at-root {
							body.dark main .teach-with-us .container .line p {
								color: $textColorDark1;
							}
						}
					}
				}
			}
			.button-container {
				text-align: center;
				color: $textColor1;
				@at-root {
					body.dark main .teach-with-us .button-container {
						color: $textColorDark1;
					}
				}
				margin: 0 15px;
				@media screen and (min-width: $break-point1) {
					margin: 40px 15px;
				}
			}
		}
		.join-us {
			position: relative;
			background: #DEEEF8;
			margin-top: -300px;
			padding-top: 190px;

			&:after {
				content: "";
				height: 14vw;
				position: absolute;
				top: -1px;
				left: 0;
				right: 0;
				z-index: 4;
				background: url('/img/landing_wave_white_bottom.svg') -17px top / cover;
			}

			.section-content {
				position: relative;
				z-index: 10;
			}

			.svg.svg-light {
				display: block;
			}
			.svg.svg-dark {
				display: none;
			}
			@at-root {
				body.dark main .join-us .svg.svg-light {
					display: none;
				}
				body.dark main .join-us .svg.svg-dark {
					display: block;
				}
			}
			.svg {
				position: absolute;
				width: 100%;
				height: 100%;
				svg {
					width: 100%;
					height: 100%;
				}
			}
			.section-content {
				padding: 50px 0 100px 0;
				@media screen and (min-width: $break-point1) {
					padding: 100px 0 150px 0;
				}
			}
			.container {
				max-width: 270px;
				margin: 0 auto;
				margin-bottom: 25px;
				@media screen and (min-width: $break-point1) {
					max-width: $break-point1;
				}
				.videoWrapper {
					position: relative;
					padding-bottom: 56.25%;
					/* 16:9 */
					height: 0;
				}
				.videoWrapper iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.firstSectionFlex {
	min-height: 60vh !important;
}