@media all and (max-width: 1440px) {
	body main .choose-a-language .container .lang .flagImg {
		width: 0.8em !important;
		height: 0.8em !important;
	}

	body main .top .flex .left p {
		font-size: 22px;
	}

	body main .top .flex .right .landingTree {
		bottom: 5px;
	}

	body main .language-learning .container .line .icon {
		max-width: 200px;
	}

	body main .teach-with-us {
		padding-bottom: 60px;
	}
}

@media all and (max-width: 1366px) {
	body main .top .flex .right .landingTree {
		width: 110px;
	}

	.btnContainer .cBtn.large {
		padding: 10px 26px !important;
		font-size: 1.1rem;
	}

	body main .top .flex .left .title {
		font-size: 34px;
	}

	body main .hero .base-line {
		margin-bottom: 10px;
	}

	body main .language-learning .container .line .icon {
		max-width: 180px;
	}

	body main .join-us .section-content {
		padding: 60px 0 100px 0;
	}

	body main .teach-with-us {
		padding-bottom: 100px;
	}
}

@media all and (min-width: 1201px) {
	body header nav .nav-bar {
		opacity: 1;
		pointer-events: initial;
		height: 60px;
		display: flex;
		align-items: center;
	}
}

@media all and (max-width: 1201px) {
	body header nav .nav-bar {
		padding: 10px;
		top: 55px;
		background: #ffffff;
		flex-direction: column;
		box-shadow: 0 8px 20px -2px rgba(black, .3);
	}

	body header nav .lang {
		justify-content: space-around;
	}

	body header nav .nav-bar ul li {
		display: flex;
		justify-content: center;
		margin: 10px 0;
	}

	.loggedInHeaderContainer {
		.nav-bar {
			.btnContainer .cBtn .btnIcon {
				margin-right: 20px;
			}
		}
	}
}

@media all and (max-width: 1024px) {



	body main .language-learning .container {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	body main .language-learning .container .line {
		flex-direction: column;
		margin-bottom: 20px;
	}

	body footer .container {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		display: grid;

		.column {
			width: 100%;
			margin-bottom: 40px;
		}
	}

	footer .container .column:nth-child(3) {
		text-align: left;
	}

	footer .container .column a.social {
		justify-content: flex-start;
		text-align: left;
		margin-left: 20px;
	}
}

@media all and (max-width: 640px) {
	body main .top .flex .left {
		margin-top: 20px;
		background: transparent;

		.title {
			font-size: 24px;
		}

		p {
			font-size: 18px;
		}
	}

	body main .top .flex .right .landingGirl {
		height: 80vw;
	}

	body main .top .flex .right {
		margin-bottom: 80px;
		margin-top: 20px;
	}

	body main .choose-a-language .container {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		display: grid;
	}

	body main .choose-a-language .container .lang {
		opacity: 1;
		margin-bottom: 30px;
	}

	body main .choose-a-language .container .lang .flagImg {
		width: 0.7em !important;
		height: 0.7em !important;
	}

	body .base-title {
		font-size: 1.2rem;
	}

	body main .language-learning .container .line .icon {
		max-width: 150px;
	}

	body main .next-level .container {
		max-width: 330px;
	}

	body main .teach-with-us .container .line {
		flex-direction: column;
		margin-bottom: 40px;

		.icon {
			max-width: 160px;
			img {
				width: 140px;
			}
		}

		.content {
			text-align: center;
		}
	}

	body .base-line {
		width: 40px;
		height: 8px;
	}

	body main .language-learning:after,
	body main .language-learning:before,
	body main .teach-with-us:after,
	body main .teach-with-us:before,
	body main .join-us:after {
		height: 14.6vw;
	}

	body main .join-us {
		margin-top: -150px;
		padding-top: 30px;
	}

	.siteContent {
		padding: 10px;
		box-sizing: border-box;
	}

	.studentHubContainer {
		.mainGrid {
			gap: 0;
		}

		.mobileReversedCol {
			display: flex;
			flex-direction: column-reverse;

			iframe {
				height: 200px;
				margin-bottom: 0;
			}
		}
	}

	body .siteContent {
		margin-top: 68px;

		.studentHubContainer {
			margin-top: 0;
		}
	}

	.teacherMorePanel {
		display: none !important;
	}

	.studentHubContainer {
		.noDataCard {
			padding: 20px !important;
		}

		img {
			//width: 100px !important;
			//height: 100px !important;
		}
	}

	body .page.userSettings {
		margin-top: 120px;
		padding: 20px;
	}

	.teacherApplicationContainer {
		.tabs {
			.tabsContainer {
				display: flex;
				.tabNumber {
					margin-bottom: 0;
				}

				.tabLabel {
					display: none;
				}
			}
		}
	}

	.studentSettingsContainer {
		.formExtra {
			flex-direction: column;

			.btnContainer {
				&:first-child {
					margin-bottom: 20px;
				}
			}
		}
	}

	.teacherWidgetMainCard {
		.infoBottom {
			flex-direction: column;

			.btnContainer {
				display: flex;
				justify-content: flex-end;
			}
		}
	}

	.findTeacherContainer .actions {
		margin: auto;
		margin-top: 20px;
		padding: 0 20px;
	}

	.languagesGrid {
		.languageItem {
			.flagImg {
				width: .8em;
				height: .8em;
				margin-bottom: 10px;
			}
			.itemName {
				margin-top: 0;
			}
		}
	}

	.findTeacherContainer {
		.filters {
			justify-content: space-between;
			position: relative;
			padding-bottom: 20px;

			.btnContainer {
				margin-bottom: 20px;

				&.first {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin-bottom: 0;

					.cBtn {
						width: 100%;
						border: none;
					}
				}

				.cBtn {
					//padding: 6px 6px;
					font-size: 0.9em;

					.btnIconRight {
						display: none;
					}
				}
			}
		}
	}

	.vue-slider-dot {
		width: 20px;
		height: 20px;
	}

	body .mainSiteContainer .fc {
		.fc-button-primary {
			border: none;
		}
		.fc-toolbar-title {
			font-size: 1.1em;
		}
	}

	.freeLessonCard {
		.price {
			align-items: center;
			margin-top: 20px;
		}

		.originalPrice {
			line-height: 1;
			font-size: 1.6em;
		}

		.newPRice {
			line-height: 1;
			font-size: 2em;
			margin-top: 20px;
		}

		.ctaContainer {
			align-items: center;
		}
	}

	.priceTableCard {
		.priceItem {
			.title {
				font-size: 1.6em;
			}

			.value {
				font-size: 1.4em;
			}
		}
		.actions {
			.btnContainer {
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}
	}

	.teacherWidgetMainCard {
		flex-direction: column;
		align-items: center;

		.profileImageWrapper {
			img {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.actions {
			width: 100%;
		}

		.teacherInfo {
			align-items: center;
			margin-top: 32px;

			.name {
				font-size: 1.8em;
				justify-content: center;
				align-items: center;
			}

			.studentInfoIcon {
				font-size: 2em;
			}

			.studentStats {
				width: 100%;
				display: flex;
				justify-content: space-around;
			}

			.teacherLanguagesContainer {
				width: 100%;
				display: flex;
				justify-content: space-around;
			}

			.languageItem {
				justify-content: center;
				align-items: center;
				display: flex;
				flex-direction: column;

				.tagContainer {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			.teacherInfoTop {
				width: 100%;
				justify-content: center;
			}
		}
	}

	body .calendarFooter {
		flex-direction: column;
		align-items: flex-start;

		.calendarFooterOptions {
			width: 100%;
			display: block;
			padding: 0 10px;
			margin-top: 20px;

			.selectContainer {
				float: left;
			}
		}

		.calendarFooterLabels {
			padding-bottom: 0;
		}
	}

	.card.userSettings {
		margin-top: 130px;
	}

	.studentAppointmentPopup {
		.actions {
			padding: 0;
		}
	}

	.bookedEvent {
		.bookedEventInfo {
			padding-right: 80px;
		}
	}

	.teacherHubContainer, .studentHubContainer {
		.profileImageWrapper {
			img {
				width: 80px;
				height: 80px;
			}
		}

		.contentGrid {
			gap: 0;

			.bookedEvent {
				position: relative;
				flex-direction: column;

				.profileImageWrapper {
					position: absolute;
					top: 4px;
					right: 4px;
					margin-right: 0;
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}

	.studentHubContainer .resume img {
		width: 60px !important;
		height: 60px !important;
	}

	.cookiePanel {
		position: fixed;
		bottom: 0;
		right: 0;
		border-radius: 0;
		z-index: 200;
		max-width: initial;

		.cookiePanel .closeIcon {
			top: 0;
			right: 0;
		}
	}

	.popUpContainer .popupContent .brandLogo {
		top: 0;
		width: 140px;
	}

	.popUpContainer .popupContent .closeBtn {
		top: 10px;
		right: 10px;
	}

	.popupContent .authPopupActions {
		.btnContainer .cBtn {
			padding: 10px 0;
			.btnContent {
				font-size: 0.9em;
			}
		}
	}

	.popupContent .roleSelect {
		text-align: center;
	}

	.popUpContainer .popupContent {
		padding: 20px;
		padding-top: 70px;
		max-height: 80vh;
		overflow-y: scroll;
	}

	.teacherHubContainer {

		.mainInfos {
			flex-direction: column;
			.infoTop {
				flex-direction: column;

				.profileImg {
					margin-right: 0;
				}
			}

			.infoItems {
				justify-content: center;
				margin: 20px 0;
			}
		}

		.walletContainer {
			flex-direction: row-reverse;
			justify-content: space-around;
			align-items: center;

			.walletValue {
				font-size: 1.2em;
			}
		}
	}

	.checkoutContainer {
		min-width: auto;

		.checkoutCol {
			width: 100%;
		}
	}
}