$blue: #18A0FB;
$blue-dark: #174696;
$gray: #787885;

$green-light: #B9F29E;
$green-dark: #0A7D38;

$orange: #FFCA28;

$red: red;
$error: $red;

$z-header: 8;
$z-wallet: 10;
$z-filter: 15;
$z-teacher-more-panel: 20;
$z-popup: 50;