.btnContainer {
	.cBtn {
		position: relative;
		border-radius: 6px;
		padding: 8px 16px;
		font-size: 1rem;
		transition: all .25s;
		cursor: pointer;
		user-select: none;
		border: 2px solid transparent;
		font-weight: bold;
		
		.btnContent {
			line-height: 1;
		}
		
		.spinner {
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
			
			.loadingIcon {
				animation: spin 1s infinite;
				
				@keyframes spin {
					from {
						transform: rotate(0deg);
					}
					to {
						transform: rotate(-360deg);
					}
				}
			}
		}
		
		&.circle {
			border-radius: 100%;
			padding: 0;
			width: 42px;
			height: 42px;
		}
		
		.btnIcon {
			line-height: 22px;
			
			&:not(.btnIconRight) {
				margin-right: 8px;
			}
			
			&.btnIconRight {
				margin-left: 8px;
			}
		}

		&.color-success {
			background: #55D393;
			color: white;

			&.glow {
				box-shadow: 0 2px 8px -2px rgba(#55D393, .6);
			}

			&:hover {
				background: lighten(#55D393, 10);

				&.glow {
					box-shadow: 0 0 10px -2px rgba(#55D393, .8);
				}
			}

			&:active {
				background: lighten(#55D393, 20);
			}

			&.text {
				background: transparent;
				color: #55D393;
				padding: 10px 20px;

				&.glow {
					box-shadow: none;
				}

				&:hover {
					background: rgba(#55D393, .1);

					&.glow {
						box-shadow: 0 2px 4px -2px rgba(#55D393, .6);
					}
				}

				&:active {
					background: rgba(#55D393, .2);
				}
			}

			&.outlined {
				background: transparent;
				color: #55D393;
				//padding: 10px 20px;
				border: 2px solid #55D393;

				&.glow {
					box-shadow: 0 4px 8px -2px rgba(#55D393, .6);
				}

				&:hover {
					background: #55D393;
					color: white;

					&.glow {
						box-shadow: 0 2px 8px -2px rgba(#55D393, .6);
					}
				}

				&:active {
					background: lighten(#55D393, 10);
				}
			}
		}

		&.color-primary {
			background: $blue;
			color: white;

			&.glow {
				box-shadow: 0 2px 8px -2px rgba($blue, .6);
			}
			
			&:hover {
				background: lighten($blue, 10);

				&.glow {
					box-shadow: 0 0 10px -2px rgba($blue, .8);
				}
			}
			
			&:active {
				background: lighten($blue, 20);
			}
			
			&.text {
				background: transparent;
				color: $blue;
				padding: 10px 20px;

				&.glow {
					box-shadow: none;
				}
				
				&:hover {
					background: rgba($blue, .1);

					&.glow {
						box-shadow: 0 2px 4px -2px rgba($blue, .6);
					}
				}
				
				&:active {
					background: rgba($blue, .2);
				}
			}
			
			&.outlined {
				background: transparent;
				color: $blue;
				//padding: 10px 20px;
				border: 2px solid $blue;

				&.glow {
					box-shadow: 0 4px 8px -2px rgba($blue, .6);
				}
				
				&:hover {
					background: $blue;
					color: white;

					&.glow {
						box-shadow: 0 2px 8px -2px rgba($blue, .6);
					}
				}
				
				&:active {
					background: lighten($blue, 10);
				}
			}
		}

        &.color-facebook {
          background: #3B5998;
          color: white;

        &:hover {
          background: lighten(#3B5998, 10);
        }

        &:active {
          background: lighten(#3B5998, 20);
        }

        &.text {
          background: transparent;
          color: #3B5998;
          padding: 10px 20px;

          &:hover {
            background: rgba(#3B5998, .05);
          }

          &:active {
            background: rgba(#3B5998, .1);
          }
        }

        &.outlined {
          background: transparent;
          color: #3B5998;
          //padding: 10px 20px;
          border: 2px solid #3B5998;

          &:hover {
            background: #3B5998;
            color: white;
          }

          &:active {
            background: lighten(#3B5998, 10);
          }
        }
      }
		
		&.color-error {
			background: $red;
			color: white;
			
			&:hover {
				background: lighten($red, 10);
			}
			
			&:active {
				background: lighten($red, 20);
			}
			
			&.text {
				background: transparent;
				color: $error;
				padding: 10px 20px;
				
				&:hover {
					background: rgba($error, .05);
				}
				
				&:active {
					background: rgba($error, .1);
				}
			}
			
			&.outlined {
				background: transparent;
				color: $error;
				border: 2px solid $error;
				//padding: 10px 20px;
				
				&:hover {
					background: $error;
					color: white;
				}
				
				&:active {
					background: lighten($error, 10);
					color: white;
				}
			}
		}
		
		&.error {
			background: $error;
			
			&:hover {
				background: lighten($error, 10);
			}
			
			&:active {
				background: lighten($error, 20);
			}
		}
		
		&.small {
			padding: 4px !important;
			font-size: .9rem;
			border-width: 1px !important;
			
			.btnIcon {
				font-size: .8rem;
			}
		}
		
		&.medium {
			padding: 6px 12px !important;
			font-size: 1rem;
			border-width: 1px !important;
			
			.btnIcon {
				font-size: 1rem;
			}
		}
		
		&.large {
			padding: 8px 16px !important;
			font-size: 1.2rem;
			
			.btnIcon {
				font-size: 1.2rem;
			}
		}
		
		&.full {
			width: 100%;
		}
		
		&.align-left {
			justify-content: flex-start;
			
			.btnIcon {
				margin-right: 20px;
			}
		}
	}
	
	&.iconOnly {
		.cBtn {
			padding: 10px;
		}
		
		.btnIcon {
			margin-right: 0 !important;
		}
	}
	
	&.loading {
		pointer-events: none;
		opacity: .7;
		
		.btnContent {
			opacity: 0;
		}
	}
}