.inputContainer {
	&.onlySlot {
		input {
			width: 0;
			height: 0;
			opacity: 0;
			padding: 0;
			margin: 0;
			position: absolute;
		}
	}
	
	.inputLabel {
		margin-bottom: 2px;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: rgba(23, 70, 150, 0.5);
		transition: all .25s;
	}
	
	input {
		background: #FFFFFF;
		border: 1px solid rgba(23, 70, 150, 0.2);
		box-sizing: border-box;
		border-radius: 4px;
		padding: 10px 14px;
		font-size: 18px;
		color: $blue-dark;
		transition: all .25s;
		outline: none;
		
		&:hover {
		
		}
		
		&:focus {
			outline: none;
			border: 1px solid rgba($blue, 0.2);
		}
	}
	
	&.error {
		.inputLabel {
			color: red;
		}
		
		input {
			border-color: red;
		}
	}
}