body {
	.mainSiteContainer {
		&.isLanding {
			.siteContent {
				margin-top: 60px !important;
			}
		}
	}
}

.helpAction {
	position: fixed;
	bottom: 45px;
	right: 45px;
	width: 56px;
	height: 56px;
	background: #18A0FB;
	border: 2px solid white;
	box-shadow: 0 2px 6px 0 rgba(black, .35);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 34px;
	color: white;
	z-index: 22;
	transition: all .25s;

	&:hover {
		transform: scale(1.06);
		box-shadow: 0 4px 10px 0 rgba(black, .3);
	}
}

.color-green {
	color: $green-light;
}

.color-green-dark {
	color: $green-dark;
}

.color-orange {
	color: $orange;
}

.color-gray {
	color: $gray;
}

.color-primary {
	color: $blue;
}

.color-primary-dark {
	color: $blue-dark;
}

.siteContent {
	margin-top: 80px;
	position: relative;
	z-index: 10;
	//margin-bottom: 40px;
}
