body {
	color: $blue-dark;
	font-family: 'Montserrat', sans-serif;
	background: #DEEEF8;
	width: 100vw;
	overflow-x: hidden;

	.mainSiteContainer {
	 	.bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 900px;
			background: url('/img/bg.svg') center center / cover;
			background-repeat: no-repeat;
		}

		&.isLanding {
			background: none !important;

			footer:after {
				content: none;
			}

			.siteContent {
				margin-top: 40px !important;
			}
		}
	}
}

.color-green {
	color: $green-light;
}

.color-green-dark {
	color: $green-dark;
}

.color-orange {
	color: $orange;
}

.color-gray {
	color: $gray;
}

.color-primary {
	color: $blue;
}

.color-primary-dark {
	color: $blue-dark;
}

.siteContent {
	margin-top: 80px;
	position: relative;
	z-index: 10;
	//margin-bottom: 40px;
}
