body {
	.mainSiteContainer {
		&.isLanding {
			.siteContent {
				margin-top: 60px !important;
			}
		}
	}
}

.color-green {
	color: $green-light;
}

.color-green-dark {
	color: $green-dark;
}

.color-orange {
	color: $orange;
}

.color-gray {
	color: $gray;
}

.color-primary {
	color: $blue;
}

.color-primary-dark {
	color: $blue-dark;
}

.siteContent {
	margin-top: 80px;
	position: relative;
	z-index: 10;
	//margin-bottom: 40px;
}
