.checkoutContainer {
	min-width: 1000px;

	.checkoutCol {
		width: 50%;
	}
}

#card-element {
	border: 1px solid #d1daea;
	padding: 10px 20px;
	border-radius: 4px;
	width: 100%;
}

@media all and (max-width: 1000px) {
	.checkoutContainer {
		flex-direction: column;
	}
}