header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(white, .8);
	z-index: $z-header;
	padding: 0 10px;

	.headerContainer {
		max-width: 1200px;
		margin: auto;
		height: 60px;

		nav {
			margin-right: 0;
		}
		
		.profilePopupContainer {
			.profilePopupWidget {
				top: 30px;
				opacity: 0;
				pointer-events: none;
			}
			
			&:hover {
				.profilePopupWidget {
					opacity: 1;
					pointer-events: initial;
					top: 40px;
				}
			}
		}
	}
}

body.scrollLock {
	header {
		padding-right: 27px;
	}
}