footer {
	position: relative;
	background: url('/img/footer_bg.svg') top left / cover;
	z-index: 5;
	padding-top: 80px;
	padding-bottom: 20px;

	@at-root {
		body.dark footer {
			background: #293956;
		}
	}
	.container {
		display: flex;
		margin: 0 auto;
		font-size: 14px;
		padding: 30px 10px;
		@media only screen and (min-width: 769px) {
			max-width: 1000px;
		}

		.column {
			width: 24%;
			display: inline-flex;
			flex-direction: column;
			align-items: flex-start;

			&.contact {
				a {
					margin-left: 38px;
				}
			}

			.fab {
				color: #2E3A59;
				@at-root {
					body.dark footer .container .column .fab {
						color: #17A3FF;
					}
				}
				font-size: 20px;
			}
			.title {
				font-size: 16px;
				margin-left: 20px;
				margin-bottom: 12px;

				&.social {
					margin: 0 20px;
					margin-bottom: 10px;
				}
			}
			a {
				display: block;
				text-decoration: none;
				margin-bottom: 0;
				color: #4F5665;
				@at-root {
					body.dark footer .container .column a {
						color: #17A3FF;
					}
				}

				&.social {
					text-align: center;
					display: flex;
					justify-content: center;
					padding: 10px;
					opacity: .7;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}