.walletIcon {
	font-size: 2.3rem !important;
}

.walletValue {
	color: #27AE60;
}

.infoItem {
	.headerIcon {
		font-size: 2.6em;
	}
}

.colorSample {
	width: 16px;
	height: 16px;
	border-radius: 4px;

	&.free {
		background: rgb(24, 160, 251);
	}

	&.booked {
		background: rgb(16, 191, 30);
	}
}