.teacherApplicationContainer {
	.tabs {
		.tabItem {
			&.past {
				opacity: .4;
			}
		}
		.tabNumber {
			&.activeTab {
				background: $blue-dark;
				color: white;
			}
		}
	}
	.profileImg {
		position: relative;
		margin-top: 20px;
		.btnContainer {
			position: absolute;
			top: -10px;
			right: -10px;
		}
		img {
			max-height: 200px;
			margin: auto;
		}

		.profileImageEditIcon {
			&.alignCenter {
				.btnContainer {
					left: calc(50% - 20px);
				}
			}
		}
	}
}