.teacherSettingsContainer {
	margin-top: 200px;
}

.color-primary {
    color: $blue;
}

.color-primary-dark {
    color: $blue-dark;
}

.card {
    &.userSettings {
        padding: 40px 30px;
        padding-top: 60px;
        margin-top: 200px;
    }

    .top {
        .profileImg {
            width: 140px;
            margin: auto;
            margin-top: -140px;
            position: relative;

            img {
	            width: 140px;
	            height: 140px;
                border-radius: 100%;
	            object-fit: cover;
            }

            .profileImageEditIcon {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

.inputWrapper {
    margin-bottom: 20px;
}