    .findTeacherContainer {
        .actions {
            max-width: 780px;
            margin-top: 40px;
        }
        
        .top {
            max-width: 780px;
            margin-right: auto;
        }

    }