.findTeacherContainer {
    .actions {
        max-width: 780px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .top {
        max-width: 780px;
        margin-right: auto;
    }
}