.boughtEvent {
		border-radius: 10px;
		border-left: 10px solid $orange;
		
		.profileImageWrapper {
			width: 70px;
			height: 70px;

			img {
				width: 70px !important;
				height: 70px !important;
				object-fit: cover;
			}
		}
	}