.teacherProfileImage {
	width: 90px;
	height: 90px;
	object-fit: cover;
}

.teacherMorePanel {
	position: absolute;
	right: 0;
	top: 0;
	box-sizing: border-box;
	width: 400px;
	background: white;
	border-radius: 10px;
	z-index: $z-teacher-more-panel;
}

.teacherWidgetMainCard {
	max-width: 780px;
	position: relative;
	margin-left: 0 !important;
	box-sizing: border-box;
	
	.favoriteBtn {
		position: absolute;
		top: 4px;
		left: 4px;
	}
	
	.actions {
		width: 300px;
		padding-left: 30px;
	}
}

.fadeMoveIn-enter-active, .fadeMoveIn-leave-active {
	transition: all .25s ease-in-out;
	
}
.fadeMoveIn-enter, .fadeMoveIn-leave-to {
	opacity: 0;
	top: 20px;
}
.fadeMoveIn-leave-to {
	transition: all .1s;
}