.teacherProfileImage {
	width: 90px;
	height: 90px;
	object-fit: cover;
}

.teacherMorePanel {
	position: absolute;
	right: 0;
	top: 0;
	box-sizing: border-box;
	width: 400px;
	background: white;
	border-radius: 10px;
	z-index: $z-teacher-more-panel;

	&:after {
		content: "";
		position: absolute;
		top: 100px;
		left: -8px;
		width: 16px;
		height: 16px;
		background: white;
		border-left: 1px solid #9FC6DF;
		border-top: 1px solid #9FC6DF;
		transform: rotate(-45deg);
		border-radius: 2px;
	}

	.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
		min-height: 0;
	}

	.fc {
		.fc-toolbar-title {
			font-size: 1.2em;
			margin: 0;
		}

		.fc-scrollgrid thead {
			display: none;
		}

		.fc-toolbar.fc-header-toolbar {
			margin-bottom: 8px;
		}

		.fc-daygrid-body-natural .fc-daygrid-day-events {
			margin-bottom: 0;
		}

		.fc-daygrid-day-events {
			margin-top: 0;
		}

		.fc-daygrid-day:not(.fc-day-disabled) {
			.fc-daygrid-day-top {
				text-align: center;
				justify-content: center;
			}
			.fc-daygrid-day-events {
				margin-bottom: 0;

				.fc-daygrid-event-harness {
					.fc-daygrid-dot-event {
						pointer-events: none;
						display: flex;
						justify-content: center;
					}

					.fc-event-title {
						display: none;
					}
					&:not(:first-child) {
						display: none;
					}
				}
			}
		}
	}
}

.teacherWidgetMainCard {
	max-width: 780px;
	position: relative;
	margin-left: 0 !important;
	box-sizing: border-box;
	
	.favoriteBtn {
		position: absolute;
		top: 4px;
		left: 4px;
	}
	
	.actions {
		width: 300px;
		padding-left: 30px;
	}
}

.fadeMoveIn-enter-active, .fadeMoveIn-leave-active {
	transition: all .25s ease-in-out;
	
}
.fadeMoveIn-enter, .fadeMoveIn-leave-to {
	opacity: 0;
	top: 20px;
}
.fadeMoveIn-leave-to {
	transition: all .1s;
}